/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*Variables*/
/*Colors*/
/*nav*/
#primaryNavWrap {
  position: absolute;
  left: 0;
  height: 100%;
}

#primaryNavWrap #toggleBtn {
  /*//position: absolute;
		//left: 150px;
		//top: 100px;
		width: 30px;
		height: 50px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		background-color: $primary-color;
		cursor: pointer;*/
  position: relative;
  top: 90px;
  float: left;
  padding: 30px 0;
  width: 26px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  background-color: #0875bd;
  cursor: pointer;
  text-align: center;
}

#primaryNavWrap #toggleBtn:hover, #primaryNavWrap #toggleBtn:active {
  color: #fff;
}

#primaryNavWrap #toggleBtn.active {
  opacity: .6;
}

#primaryNavWrap #toggleBtn.active .fa {
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

#primaryNavWrap #toggleBtn::before, #primaryNavWrap #toggleBtn::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
}

#primaryNavWrap #toggleBtn::before {
  top: -5px;
  left: 0;
  border-width: 0 20px 5px 0;
  border-style: solid;
  border-color: transparent transparent #0875bd #0875bd;
}

#primaryNavWrap #toggleBtn::after {
  bottom: -5px;
  left: 0;
  border-width: 5px 20px 0 0;
  border-style: solid;
  border-color: #0875bd transparent transparent #0875bd;
}

#primaryNavWrap #primaryNav {
  /*position: absolute;
		top: 0;
		//width: 150px;
		padding-right: 5px;
		height: 100%;
		background: $primary-color;*/
  /* position: static; */
  /* top: 0; */
  padding-right: 5px;
  height: 100%;
  background: #0875bd;
  float: left;
}

#primaryNavWrap #primaryNav #categoryList {
  margin: 0;
  padding: 0;
  list-style: none;
}

#primaryNavWrap #primaryNav #categoryList li {
  /*&:nth-child(1) {
					.icon {
						background-position: center -56px;
					}
				}
				&:nth-child(1).active {
					.icon {
						background-position: center 4px;
					}
				}
				&:nth-child(2) {
					.icon {
						background-position: center -182px;
					}
				}
				&:nth-child(2).active {
					.icon {
						background-position: center -122px;
					}
				}
				&:nth-child(3) {
					.icon {
						background-position: center -300px;
					}
				}
				&:nth-child(3).active {
					.icon {
						background-position: center -242px;
					}
				}*/
}

#primaryNavWrap #primaryNav #categoryList li a {
  display: block;
  padding: 15px 0 0;
  width: 160px;
  height: 105px;
  color: #a1dff8;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #00a0e9;
  border-bottom: 1px solid #00479d;
  /*.icon {
						display: block;
						//width: 44px;
						height: 52px;
						background: url("../images/sprite.png") center center no-repeat;
					}*/
}

#primaryNavWrap #primaryNav #categoryList li a .fa {
  font-size: 48px;
  color: #00bbcc;
}

#primaryNavWrap #primaryNav #categoryList li a .text {
  margin: 10px 0;
  font-size: 16px;
  font-weight: normal;
  white-space: nowrap;
}

#primaryNavWrap #primaryNav #categoryList li.active {
  background: #0c4a9d;
}

#primaryNavWrap #primaryNav #categoryList li.active .fa {
  color: #fff;
}

#primaryNavWrap #primaryNav #categoryList li.active a {
  color: #fff;
}

#primaryNavWrap #primaryNav #categoryList.show {
  display: block;
}

#nav {
  position: relative;
  height: 50px;
  color: #fff;
  background: -moz-linear-gradient(left, #257cc6 0%, #00bbcc 100%);
  background: linear-gradient(to right, #257cc6 0%, #00bbcc 100%);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

#navCollapse,
#navBrand,
#breadLink {
  float: left;
}

#navCollapse {
  padding: 14px;
  color: #195486;
}

#navCollapse:hover, #navCollapse:active {
  color: #fff;
}

#navBrand {
  margin: 0 0 0 10px;
}

#navBrand a {
  display: block;
  padding: 10px 0 14px 44px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background: url("../images/logo.png") left center no-repeat;
}

#breadLink {
  margin: 0 10px;
  padding-top: 16px;
  min-width: 140px;
  font-size: 16px;
  font-weight: normal;
}

#navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navList .nav-li {
  display: none;
  float: left;
}

#navList .nav-li .nav-sublist {
  list-style: none;
}

#navList .nav-li .nav-sublist li {
  float: left;
}

#navList .nav-li .nav-sublist li a {
  display: block;
  padding: 16px 20px 13px;
  color: #a1dff8;
  text-decoration: none;
}

#navList .nav-li .nav-sublist li a:hover, #navList .nav-li .nav-sublist li a:active {
  color: #fff;
}

#navList .nav-li .nav-sublist li.active {
  background: #166fb6;
}

#navCtrl {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  margin-left: 30px;
}

#navCtrl li {
  float: left;
}

#navCtrl li a {
  display: block;
  padding: 16px 20px 13px;
  color: #a1dff8;
  text-decoration: none;
}

#navCtrl li a:hover, #navCtrl li a:active {
  color: #fff;
}

#navCtrl li.active {
  background: #166fb6;
}

#mainContent {
  width: 100%;
}
