/*nav*/
#primaryNavWrap {
	position: absolute;
	left: 0;
	height: 100%;
	#toggleBtn {
		/*//position: absolute;
		//left: 150px;
		//top: 100px;
		width: 30px;
		height: 50px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		background-color: $primary-color;
		cursor: pointer;*/
		position: relative;
		top: 90px;
		float: left;
		padding: 30px 0;
		width: 26px;
		//height: 32px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		background-color: #0875bd;
		cursor: pointer;
		text-align: center;

		&:hover,
		&:active {
			color: #fff;
		}
		&.active {
			opacity: .6;
			.fa {
				transform: rotate(180deg);
			}
		}
		.fa {
		}
		&::before,
		&::after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
		}
		&::before {
			top: -5px;
			left: 0;
			border-width: 0 20px 5px 0;
			border-style: solid;
			border-color: transparent transparent $primary-color $primary-color;
		}
		&::after {
			bottom: -5px;
			left: 0;
			border-width: 5px 20px 0 0;
			border-style: solid;
			border-color: $primary-color transparent transparent $primary-color;
		}
	}
	#primaryNav {
		/*position: absolute;
		top: 0;
		//width: 150px;
		padding-right: 5px;
		height: 100%;
		background: $primary-color;*/
		/* position: static; */
		/* top: 0; */
		padding-right: 5px;
		height: 100%;
		background: #0875bd;
		float: left;
		#categoryList {
			//display: none;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				a {
					display: block;
					padding: 15px 0 0;
					width: 160px;
					height: 105px;
					color: $primary-nav-text-color;
					text-decoration: none;
					text-align: center;
					border-top: 1px solid $primary-nav-highlight;
					border-bottom: 1px solid $primary-nav-inset;
					.fa {
						font-size: 48px;
						color: #00bbcc;
					}
					/*.icon {
						display: block;
						//width: 44px;
						height: 52px;
						background: url("../images/sprite.png") center center no-repeat;
					}*/
					.text {
						margin: 10px 0;
						font-size: 16px;
						font-weight: normal;
						white-space: nowrap;
					}
				}
				&.active {
					background: $primary-nav-active-bg;
					.fa {
						color: #fff;
					}
					a {
						color: #fff;
					}
				}
				/*&:nth-child(1) {
					.icon {
						background-position: center -56px;
					}
				}
				&:nth-child(1).active {
					.icon {
						background-position: center 4px;
					}
				}
				&:nth-child(2) {
					.icon {
						background-position: center -182px;
					}
				}
				&:nth-child(2).active {
					.icon {
						background-position: center -122px;
					}
				}
				&:nth-child(3) {
					.icon {
						background-position: center -300px;
					}
				}
				&:nth-child(3).active {
					.icon {
						background-position: center -242px;
					}
				}*/
			}
			&.show {
				display: block;
			}
		}
	}

}
#nav {
	position: relative;
	height: 50px;
	color: #fff;
	background: linear-gradient(to right, $nav-gradients-start 0%, $nav-gradients-end 100%);
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
	z-index: 100;
}

#navCollapse,
#navBrand,
#breadLink {
	//display: inline-block;
	float: left;
}
#navCollapse {
	padding: 14px;
	color: darken($nav-gradients-start, 15%);
	&:hover,
	&:active {
		color: #fff;
	}
}
#navBrand {
	margin: 0 0 0 10px;
	a {
		display: block;
		padding: 10px 0 14px 44px;
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		background: url("../images/logo.png") left center no-repeat;
	}
}
#breadLink {
	margin: 0 10px;
	padding-top: 16px;
	min-width: 140px;
	font-size: 16px;
	font-weight: normal;
}
#navList {
	margin: 0;
	padding: 0;
	list-style: none;
	.nav-li {
		display: none;
		float: left;
		.nav-sublist {
			list-style: none;
			li {
				float: left;
				a {
					display: block;
					padding: 16px 20px 13px;
					color: $nav-normal-text;
					text-decoration: none;
					&:hover,
					&:active {
						color: #fff;
					}
				}
				&.active {
					background: $nav-active-bg;
				}
			}
		}
	}
}
#navCtrl {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	margin-left: 30px;
	li {
		float: left;
		a {
			display: block;
			padding: 16px 20px 13px;
			color: $nav-normal-text;
			text-decoration: none;
			&:hover,
			&:active {
				color: #fff;
			}
		}
		&.active {
			background: $nav-active-bg;
		}
	}
}
