/*Variables*/
/*Colors*/

$primary-color: #0875bd;
$primary-nav-active-bg: #0c4a9d;
$primary-nav-text-color: #a1dff8;
$primary-nav-highlight: #00a0e9;
$primary-nav-inset: #00479d;

$nav-gradients-start: #257cc6;
$nav-gradients-end: #00bbcc;
$nav-active-bg: #166fb6;
$nav-normal-text: $primary-nav-text-color;